<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	
<link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
<title>Weather Today</title>
</head>
<body>
	<h1 class="w-50 p-3" th:text="'Weather for ' + ${localDateToday}"></h1>		
	<table class="table table-sm m-3 table-striped-2">
		<thead>
			<tr>
				<th scope="col">City</th>
				<th scope="col">Current Weather</th>
				<th scope="col">Temperature</th>
				<th scope="col">Wind Speed</th>
				<th scope="col">Humidity</th>
				<th scope="col">Precipitation</th>
				
			</tr>
		</thead>
		<tbody th:if="${not #lists.isEmpty(cityWeatherList)}">
			<th:block th:each="cityWeather,iter : ${cityWeatherList}">
				<tr th:attr="data-target='#accordion_'+${iter.index}" data-toggle="collapse" class="accordion-toggle border-bottom-0" >
		            <td scope="row" th:text="${cityWeather.city}"></td>
		            <td th:text="${cityWeather.summary}"></td>
		            <td th:text="${cityWeather.temperature} + ' °C'" class="text-left"></td>
		            <td th:text="${cityWeather.windSpeed} + ' m/s'" class="text-left"></td>
		            <td th:text="${cityWeather.humidity}" class="text-left"></td>
		            <td th:with="pct=${#numbers.formatDecimal(cityWeather.precipProbability , 1, 2)} * 100"
		            	th:text="${#numbers.formatDecimal(pct,1,0)} + '%'" class="text-left"></td>         	           
		        </tr>
		        <tr class="border-top-0">
			        <td colspan="6" class="hiddenRow border-top-0 font-weight-light">			        	
			            <div class="accordion-body collapse pl-5" th:id="'accordion_'+${iter.index}" style="">
			            	<div class="pt-3 pl-5 pb-1"><h6>Other Information:</h6></div>
			            	<div>
			            		<th:block th:if="${cityWeather.visibility != null}">
			            			<span class="w-25 p-3 pl-5" th:text="'Visibility: ' + ${cityWeather.visibility}"></span>		
				            	</th:block>
				            	<th:block th:if="${cityWeather.uvIndex != null}">
				            		<span class="w-25 p-3" th:text="'UV Index: ' + ${cityWeather.uvIndex}"></span>		
				            	</th:block>
				            	<th:block th:if="${cityWeather.pressure != null}">
				            		<span class="w-25 p-3" th:text="'Pressure: ' + ${cityWeather.pressure}"></span>		
				            	</th:block>
				            	<th:block th:if="${cityWeather.ozone != null}">
				            		<span class="w-25 p-3" th:text="'Ozone: ' + ${cityWeather.ozone}"></span>		
				            	</th:block>	
			            	</div>
			            					            																		
						</div>
			        </td>
			    </tr>
	        </th:block>			
		</tbody>
	</table>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>